---
import MatchCard from '../components/MatchCard.svelte'

const url = import.meta.env.DEV ? "http://localhost:8080/api/get_games" : "/api/get_games";

const game_date = await fetch(url);
const data = await game_date.json();
const games = data.games.sort((a, b) => (a.id < b.id) ? 1 : -1);
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>League Tracker</title>
    </head>
    <body>
        <div id="navbar">
            <h1>League Tracker</h1>
            <!-- <span>Leaderboard</span> -->
        </div>
        <div id="cardholder">
            {games.map((game) => (
                <MatchCard game={game} />
            ))}
        </div>
    </body>
</html>


