---
import MatchCard from '../components/MatchCard.astro'
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>League Tracker</title>
    </head>
    <body>
        <div>
            <h1>League Tracker</h1>
            <span>Leaderboard</span>
        </div>
    </body>
</html>


