---
import MatchCard from '../components/MatchCard.svelte'
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>League Tracker</title>
    </head>
    <body>
        <div id="navbar">
            <h1>League Tracker</h1>
            <!-- <span>Leaderboard</span> -->
        </div>
        <div id="cardholder">
            <MatchCard />    
        </div>
    </body>
</html>


